.location-container {
   padding: 0.5rem 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.location-container > span {
   max-width: 15rem;
   padding: 0.5rem 0;
}

.location-container iframe {
   width: 560px;
   height: 315px;
   display: block;
   margin: auto;
   padding: 1rem 0;
}
