.search-article {
   width: 10rem;
   padding: 0.5rem;
   display: block;
   margin: 1rem auto;
   text-align: center;
}

.articles-container {
   padding: 0.5rem;
   margin: 3rem 0;
   display: grid;
   grid-template-columns: repeat(auto-fit, max(300px));
   align-content: center;
   justify-content: center;
   gap: 1rem;
}

.article-card {
   box-shadow: 0 0 5px #000;
   position: relative;
}

.article-card:hover {
   transform: scale(1.05);
}

.dark-card {
   box-shadow: 0 0 5px #777;
}

.article-card > figure {
   height: 25rem;
}

.article-card > figure > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.article-card > figure > figcaption {
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 1rem;
   text-align: center;
   font-weight: bold;
   background-color: rgba(230, 230, 230, 0.5);
   color: rgb(50, 50, 50);
}
.dark-card > figure > figcaption {
   color: rgb(230, 230, 230);
   background-color: rgba(0, 0, 0, 0.5);
}
