<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarkDown</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../css/markdown.css">
  </head>

  <body>
    <h1>Ejercicio con MarkDown</h1>
    <main></main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
    <script src="../js/MarkDown.js" type="module"></script>
  </body>

</html>